/* =============
   Requests
============= */

#requests{
   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". requests .";

   >div{
     grid-area: requests;
     border: 1px solid purple;
   }
}