/* =============
   Requests
============= */

#requests{
   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". requests .";

   @include md{
      grid-template-columns: 15% auto 15% ;
    }


   >div{
     grid-area: requests;
     border: 1px solid purple;
   }
}